These results were generated with the BIDS app for Computational Anatomy Toolbox
(BIDS app: {{version}}; CAT12: {{cat_version}}; MATLAB MCR: {{mcr_version}})

The following steps were followed.

1. ...

2. ...
